@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800|Quicksand:300,400,500,700');

html, body{ font-family: 'Quicksand', sans-serif;}
a:hover,a:active, a:focus{ text-decoration: none; outline: none !important; box-shadow: none;}


/*blog-area*/
.blog-area {background: url(../images/bg-building.jpg) repeat-x;padding: 30px 0;background-position: bottom;animation-name: motion2;animation-duration: 100s;animation-iteration-count: infinite;animation-timing-function: linear;background-size: 100%;}
.blogs-item {width: calc(100%/3 - 30px);float: left;margin: 0 15px; transition: all 0.25s}
.blogs:after {content: '';display: block;clear: both;}
.blog-img .blog-time .blog-month {font-size: 12px;line-height: normal;letter-spacing: 0.5px; font-weight: 500;}
.blog-img .blog-time .blog-date {font-size: 22px;line-height: normal;font-weight: 600;}
.blog-img .blog-time {position: absolute;height: 50px;width: 50px;background: #3c377b;top: 10px;left: 10px;text-align: center;color: #fff;text-transform: uppercase;line-height: normal;margin: 0;}
.blog-img {position: relative;}
.blog-detail{padding: 20px 25px;border: 1px solid #eee;position: relative;overflow: hidden;-webkit-transition: border .4s;-moz-transition: border .4s;-ms-transition: border .4s;transition: border .4s; background: #fff; z-index: 0;}
.blogs-item:hover .blog-detail:after {left: 0;bottom: 0;-webkit-transform: scale(15) translateZ(0);-moz-transform: scale(15) translateZ(0);-ms-transform: scale(15) translateZ(0);-o-transform: scale(15) translateZ(0);transform: scale(15) translateZ(0);}
.blog-detail h4 a {color: #202020;}
.blog-detail h4 {font-size: 18px;line-height: 30px;text-transform: capitalize;font-weight: 500; margin: 0;}
.blog-detail ul li a {color: #676767;}
.blog-detail ul li {font-size: 11px;line-height: 12px;text-transform: uppercase;border-right: 1px solid #e0e0e0;padding-right: 10px;display: inline-block;}
.blog-detail ul {list-style: none;padding: 0;}
.blog-detail ul li:last-child {border: 0; padding-right: 0;}
.blog-detail p {line-height: 25px;font-size: 16px;letter-spacing: .5px;color: #878787;margin: 0;}
.blogs-item .blog-img img {filter: grayscale(0);}
.blogs-item:hover .blog-img img {filter: grayscale(1);}
.blogs {padding: 20px 0;}
.blog-area {padding: 30px 0;}
.read-more-btn a {padding: 10px 25px;display: inline-block;color: #666;border: 1px solid #666;letter-spacing: 1px;text-transform: uppercase;font-weight: 500;box-shadow: 0 3px 0 transparent;transition: 0.3s ease;}
.read-more-btn a:hover {background: #5745ae;border-color: #5745ae;color: #fff;box-shadow: 0 3px 0 #3c377b;}
.read-more-btn {text-align: center;padding: 30px 0 10px;}
/*end*/

/*testimonial*/
.testimonial-area {background: url(../images/testimonial-bg.jpg) no-repeat;padding: 30px 0;background-size: cover;background-position: center;background-attachment: fixed; min-height: 100vh;}
.testimonial-area p {color: #000;font-weight: 500;}
.testimonial-area .heading h2 {color: #000;}
.testimonial {padding: 20px;background: #fff;position: relative;transform: scale(0.8); padding-top: 100px;margin-top: 100px; transition: all 0.3s linear; border-radius: 4px;}
.testimonials .slick-slide.slick-current.slick-active.slick-center .testimonial {transform: scale(1);}
.author-img {position: absolute;width: 150px; max-height: 150px; border-radius: 200px;overflow: hidden;border: 5px solid #fff;top: -75px;left: 0;right: 0;margin: auto; box-shadow: 0 4px 10px rgba(0,0,0,0.1); background: #fff;}
.author-quote h4 {font-size: 20px;font-family: 'Dosis', sans-serif;letter-spacing: 0.5px;}
.author-quote {text-align: center;}
.author-quote blockquote i {color: #ffbe00;font-size: 22px;padding: 0 5px;}
.author-quote blockquote {line-height: 30px;color: #676767;margin: 15px 0;}
ul.slick-dots li button {font-size: 0;height: 14px;width: 14px;padding: 0;border-radius: 100px;border: 0;background: #5745ae;border: 2px solid #fff; transition: all 0.3s ease;}
ul.slick-dots li {display: inline-block;margin: 0 3px;}
ul.slick-dots {list-style: none;padding: 0;margin: 0;text-align: center;}
ul.slick-dots li.slick-active button {width: 30px;}
.slick-arrow:after {content: "\f053";font-family: 'FontAwesome';font-size: 22px;}
.slick-arrow {position: absolute;top: 0;bottom: 0;height: 40px;width: 40px;font-size: 0;margin: auto;border: 0;background: rgba(255,255,255,0.5); z-index: 1;cursor: pointer;}
.slick-next.slick-arrow{left:inherit ; right: 0;}
.slick-next.slick-arrow:after{content:"\f054";}
.testimonials .slick-list.draggable {padding: 0 20px !important;}
/*end*/

.heading h2 {position: relative;font-weight: 600;font-family: 'Dosis', sans-serif;text-transform: uppercase;padding: 0 0 10px;color: #231f20;}
.heading h2:before {position: absolute;content: '';height: 1px;width: 150px;background: #ffbe00;left: 0;right: 0;bottom: 1px;margin: auto;}
.heading h2:after {content: '';height: 3px;width: 50px;background: #3c377b;position: absolute;left: 0;right: 0;margin: auto;bottom: 0;}
.heading p {color: #878787;}
.heading {text-align: center;padding: 20px 0;max-width: 750px;margin: 0 auto;}

/*media*/




@media (max-width:991px){
    .blogs-item {width: calc(100%/2 - 30px);margin: 0 15px 30px;}
}


@media (max-width:767px){
    .blogs-item {width: 100%;margin: 0 auto 30px;max-width: 470px;display: block;float: none;}
    .read-more-btn {padding: 0 0 10px;}
}

@media (max-width:574px){
    .testimonials .slick-list.draggable {padding: 0!important;}
}


@media (max-width:400px){
    .blog-detail {padding:20px;}
}

